h1 {
    margin: 0;
    height: 100px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;    /* Centre verticalement */
}

img {
    width: 100px; /* Largeur de l'image */
    height: auto;  /* Hauteur automatique pour garder les proportions */
}

body {
    margin: 0;
    padding: 0;
    font: 12px Arial;
}

.menuderoulant {
    height: 40px;
    list-style: none;
    padding: 10px;
    margin: -8px;
}

.menuderoulant li {
    float: left;
    width: 380px;
}

.menuderoulant li a:link, .menuderoulant li a:visited {
    display: block;
    color: #FFFFFF;
    background: #e9e9e9;
    padding: 6px 10px;
    border-right: 1px solid #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.menuderoulant li a:hover {background-color: #199BD2;}
.menuderoulant li a:active {background-color: #853333 ;}

.menuderoulant .sousmenu{
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 10;
}

.menuderoulant .sousmenu li {
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menuderoulant .sousmenu li a:link, .menuderoulant li a:visited {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #582900;
}

.menuderoulant .sousmenu li a:hover {
    background-color: #199BD2;
}

.menuderoulant li:hover .sousmenu {
    display: block;

}

.carousel-container {
    position: relative;
    width: 100%; /* Utiliser 100% pour garantir que ça s'ajuste à la largeur de l'écran */
    overflow: hidden;
    height: 400px;
    z-index: 1;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
    width: 400%; /* Si vous avez 3 images, utilisez 100% * 3 */
}

.carousel-slide img {
    width: 100%; /* Chaque image prend la largeur de l'élément parent */
    height: 400px; /* Conserve le ratio d'aspect */
    object-fit: contain; /* Permet de couvrir l'espace sans déformation */
    max-height: 100%;
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}