/* Import google fonts- inter */

@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');


h1 {
    margin: 0;
    height: 100px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;    /* Centre verticalement */
}

img {
    width: 100px; /* Largeur de l'image */
    height: auto;  /* Hauteur automatique pour garder les proportions */
}

body {
    margin: 0;
    padding: 0;
    font: 12px Arial;
    background-color:burlywood;
}

.header {
    display: flex;
    background-color: #7f9172;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li { 
    display: flex;
    justify-content: flex-end;
    float: right;
    width: 30px;
    padding: 30px;
}

.menu li a:link, .menu li a:visited {
    color: #FFFFFF; 
    text-decoration: none;
    font-size: 15px;
    margin-left: 20px;
}

.Connexion {
   background-color: rgb(197, 122, 24); 
   color: black; 
   font-weight: bold; 
   border-radius: 30px; 
   font-size: 15px;
   margin-left: 10px;
}

.card-game {
    flex-box: 1;
}


.carousel-container {
    position: relative;
    width: 100%; /* Utiliser 100% pour garantir que ça s'ajuste à la largeur de l'écran */
    overflow: hidden;
    height: 400px;
    z-index: 1;
}

.carousel-slide {
    display: flex;
    transition: transform 0.5s ease;
    width: 400%; /* Si vous avez 3 images, utilisez 100% * 3 */
}

.carousel-slide img {
    width: 100%; /* Chaque image prend la largeur de l'élément parent */
    height: 400px; /* Conserve le ratio d'aspect */
    object-fit: contain; /* Permet de couvrir l'espace sans déformation */
    max-height: 100%;
}


button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 30px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.Card-container {
    display: flex;               /* Utiliser Flexbox */
    justify-content: center;      /* Centrer les images horizontalement */
    align-items: center;          /* Centrer les images verticalement (si nécessaire) */
    gap: 200px;                    /* Espacement entre les images (optionnel) */
} 

.Image {
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.card-1 {
width: 200px;
}

.card-2 {
    width: 200px;
}

.card-3 {
    width: 200px;
}

.propos {
    margin-top: 500px;
}

.propos p {
    text-align: center;
}
