h1 {
    margin: 0;
    height: 100px;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center;    /* Centre verticalement */
}

img {
    width: 100px; /* Largeur de l'image */
    height: auto;  /* Hauteur automatique pour garder les proportions */
}

body {
    margin: 0;
    padding: 0;
    font: 12px Arial;
}

.menuderoulant {
    height: 40px;
    list-style: none;
    padding: 10px;
    margin: -8px;
}

.menuderoulant li {
    float: left;
    width: 380px;
}

.menuderoulant li a:link, .menuderoulant li a:visited {
    display: block;
    color: #FFFFFF;
    background: #853333;
    padding: 6px 10px;
    border-right: 1px solid #853333;
    text-align: center;
    text-decoration: none;
}

.menuderoulant li a:hover {background-color: #199BD2;}
.menuderoulant li a:active {background-color: #853333 ;}

.menuderoulant .sousmenu{
    list-style-type: none;
    display: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

.menuderoulant .sousmenu li {
    float: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menuderoulant .sousmenu li a:link, .menuderoulant li a:visited {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    background-color: #582900;
}

.menuderoulant .sousmenu li a:hover {
    background-color: #199BD2;
}

.menuderoulant li:hover .sousmenu {
    display: block;
}

.conteudo {
    width: 1000px;
}

.carrousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.2rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.carrousel::webkit - ::-webkit-scrollbar {
    display: none;
}

.card {
    scroll-snap-align: start;
    border-radius: 30px;
    min-height: 200px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.redimenssionner {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

